.VideoSidebar{
    position: absolute;
    top: 425px;
    right: 10px;
    color: white;
}

.VideoSidebar__options{
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 440px){
    .VideoSidebar{
        top: 46%;
    }
  }